.gambar{
	width: 250px;
}
.btnget{
	background-color: #ff7c39; 
    border: none;
    border-radius: 12%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.detail{
    border-style: solid;
    border-color: white;
}
.testiback {
    color: white !important;
}
.search{
    margin-top: 40px;
}
.pg {
  border: none;
  outline: none;
  cursor: pointer;
}
#bulan{
 width:150px;   
}

#bulan option{
 width:100px;   
}
/* Style the active class (and buttons on mouse-over) */
